@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Tiro+Devanagari+Sanskrit:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: #B22222;
    color: #ffffff;
}

nav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
}

nav .logo {
    color: #fff;
    float: left;
    display: block;
    padding: 14px 16px;

}

nav a {
    color: #fff;
    float: right;
    text-decoration: none;
    display: block;
    padding: 14px 16px;


}

nav a:hover {
    transition: 0.5s;
    background-color: #e4efef;
    color: #333;
}

.gloria {
    border-radius: 50%;
    height: 200px;
}

.conteudo {
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 45px;
}

.gloria {
    margin-top: 45px;
}

.conteudo-letra {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-letra-titulo {
    font-family: 'Tiro Devanagari Sanskrit', serif;
    font-weight: 400;
    font-size: 48px;
    font-style: italic;
    color: #000;
}



.conteudo-letra-subtitulo {
    font-family: 'Tiro Devanagari Sanskrit', serif;
    font-weight: 400;
    font-size: 24px;
}

.conteudo-letra-botao {
    background-color: #8C8B9E;
    width: 180px;
    height: 67px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25)
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF3E4;
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 48px;
    font-style: italic;
    margin-bottom: 15px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF3E4;
}

.redesocial {
    height: 60px;
    padding: 5px;
    margin: 30px;
}

/*Impede o site de crescer mais que o tamanho definido*/
.tamanho-maximo {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 20px;
}

/*crie uma div e coloque esta classe para alinhar conteudos*/
.centraliza {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}